.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titleabout{
    font-size: 2rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

    margin-bottom: 1rem;
   
}
.bodyabout{
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1rem;
}
@media  (max-width: 573px) {
    .section {
      display: none;
    }
  
}