@font-face {
  font-family: NormalText;
  src: url('./Fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: ThinText;
  src: url('./Fonts/Poppins-Thin.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: NormalText;
}

.burger-icon {
  display: none;
  padding: 1.5rem;
  background-color: transparent;
  border: none;

   

}

@media only screen and (max-width: 573px) {
  .burger-icon {
    display: block;

  }

}